In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\ds4\appdata\roaming\python\python310\site-packages (0.22.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.7.0)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (65.6.3)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (22.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
data=pd.read_csv('C:/Users/DS4/Downloads/basket.csv')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

In [23]:
data.isna().sum()

0         0
1         0
2     10080
3     12778
4     14168
5     14512
6     14687
7     14767
8     14912
9     14962
10    14962
dtype: int64

In [24]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,14963,14963,4883,2185,795,451,276,196,51,1,1
unique,165,165,154,146,126,101,88,72,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,shopping bags,yogurt,whole milk,shopping bags,curd,newspapers
freq,1083,983,244,111,39,25,19,14,4,1,1

In [25]:
data=data.fillna('')

In [26]:
print(data)

                           0                   1                    2       3  \
0                 whole milk              pastry          salty snack
1                    sausage          whole milk  semi-finished bread  yogurt
2                       soda  pickled vegetables
3                canned beer     misc. beverages
4                    sausage    hygiene articles
...                      ...                 ...                  ...     ...
14958            butter milk  whipped/sour cream
14959          bottled water               herbs
14960  fruit/vegetable juice              onions
14961           bottled beer    other vegetables
14962                   soda     root vegetables  semi-finished bread

      4  5  6  7  8  9  10
0
1
2
3
4
...   .. .. .. .. .. .. ..
14958
14959
14960
14961
14962

[14963 rows x 11 columns]

In [27]:
df=pd.DataFrame(data)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,whole milk,pastry,salty snack,,,,,,,,
1,sausage,whole milk,semi-finished bread,yogurt,,,,,,,
2,soda,pickled vegetables,,,,,,,,,
3,canned beer,misc. beverages,,,,,,,,,
4,sausage,hygiene articles,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
14958,butter milk,whipped/sour cream,,,,,,,,,
14959,bottled water,herbs,,,,,,,,,
14960,fruit/vegetable juice,onions,,,,,,,,,
14961,bottled beer,other vegetables,,,,,,,,,
14962,soda,root vegetables,semi-finished bread,,,,,,,,

In [29]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [30]:
oht = pd.get_dummies(df)

In [31]:
frequent_item_sets = apriori(oht, min_support=0.4, use_colnames=True)

C:\Users\DS4\AppData\Roaming\Python\Python310\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [32]:
association_rules_df = association_rules(frequent_item_sets, metric='confidence', min_threshold=0.8)

In [33]:
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2_),(3_),0.673662,0.853973,0.673662,1.0,1.170997,0.098373,inf,0.447471
1,(2_),(4_),0.673662,0.946869,0.673662,1.0,1.056112,0.035792,inf,0.162810
2,(2_),(5_),0.673662,0.969859,0.673662,1.0,1.031078,0.020305,inf,0.092361
3,(2_),(6_),0.673662,0.981555,0.673662,1.0,1.018792,0.012426,inf,0.056523
4,(2_),(7_),0.673662,0.986901,0.673662,1.0,1.013273,0.008824,inf,0.040139
...,...,...,...,...,...,...,...,...,...,...
12350,"(4_, 2_)","(10_, 9_, 3_, 5_, 8_, 7_, 6_)",0.673662,0.853973,0.673662,1.0,1.170997,0.098373,inf,0.447471
12351,"(8_, 2_)","(10_, 9_, 3_, 5_, 4_, 7_, 6_)",0.673662,0.853973,0.673662,1.0,1.170997,0.098373,inf,0.447471
12352,"(2_, 7_)","(10_, 9_, 3_, 5_, 4_, 8_, 6_)",0.673662,0.853973,0.673662,1.0,1.170997,0.098373,inf,0.447471
12353,"(2_, 6_)","(10_, 9_, 3_, 5_, 4_, 8_, 7_)",0.673662,0.853973,0.673662,1.0,1.170997,0.098373,inf,0.447471
12354,(2_),"(10_, 9_, 3_, 5_, 4_, 8_, 7_, 6_)",0.673662,0.853973,0.673662,1.0,1.170997,0.098373,inf,0.447471

In [34]:
frequent_item_sets

      support                               itemsets
0    0.673662                                   (2_)
1    0.853973                                   (3_)
2    0.946869                                   (4_)
3    0.969859                                   (5_)
4    0.981555                                   (6_)
..        ...                                    ...
506  0.673662      (2_, 10_, 9_, 3_, 4_, 8_, 7_, 6_)
507  0.673662      (2_, 10_, 9_, 3_, 5_, 8_, 7_, 6_)
508  0.673662      (2_, 10_, 9_, 5_, 4_, 8_, 7_, 6_)
509  0.853973      (10_, 9_, 3_, 5_, 4_, 8_, 7_, 6_)
510  0.673662  (2_, 10_, 9_, 3_, 5_, 4_, 8_, 7_, 6_)

[511 rows x 2 columns]